@use "../abstract/variables";

.footer {
	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(96.48deg, $text-price-color 36.3%, $button-color 99.56%);

	height: 104px;
	margin-top: 1rem;
	text-align: center;
	width: 100%;

	p {
		color: $text-white-color;
		font-weight: 500;
		line-height: 24px;
	}
}
