@import "../abstract/variables";

.box {
	background: rgba(0, 0, 0, 0.6);
	border-left: 5px solid $main-gray;
	clip-path: polygon(
		calc(100% - 30px) 0,
		100% 30px,
		100% calc(100% - 30px),
		calc(100% - 30px) 100%,
		30px 100%,
		0 calc(100% - 30px),
		0 30px,
		30px 0
	);
	height: 80%;
}
