@import "../abstract/variables";

.production {
	background: $main-white;
	border: 3px solid $main-white;
	clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
	cursor: pointer;
	float: right;
	margin-top: 1em;
	padding: 0.2em 1em;

	font-size: 2em;
	text-transform: uppercase;

	&:hover {
		background: $main-black;

		color: $main-white;
	}
}
