@import "../abstract/variables";

.robotron {
	background: url(/assets/img/estrutura.png) no-repeat;
	background-position: center center;
	margin: 0;
	flex-basis: 40%;
	position: relative;

	.robot {
		height: 110%;
		z-index: 1;
		position: absolute;
		left: -20%;
		top: -5%;
	}

	.title {
		bottom: 7rem;
		left: -3rem;
		position: absolute;
		transform: rotate(180deg);

		color: rgba(255, 255, 255, 0.8);
		font-family: $font-teko;
		font-size: 130px;
		font-weight: 500;
		line-height: 0.8;
		text-orientation: mixed;
		writing-mode: vertical-rl;
	}
}
