@import "../abstract/variables";

.statistics {
	flex-basis: 23%;

	padding: 2em 2em 0;

	.statistic {
		display: flex;
		align-items: flex-start;

		height: 25%;

		color: $main-white;

		&:nth-child(2n) {
			.statistic-title {
				order: 2;

				text-align: right;
			}

			.statistic-value {
				flex-basis: 35%;
				order: 1;

				margin: 10px 0 0;
			}
		}

		.statistic-title {
			flex-basis: 40%;
			order: 1;

			border-bottom: 1px solid $main-gray;

			font-size: 1.5em;
			text-transform: uppercase;
		}

		.statistic-value {
			flex-basis: 45%;
			order: 2;

			position: relative;
			margin: -10px 0 0;

			&::after {
				display: block;

				border: 1px solid $main-gray;
				border-radius: 50%;
				padding-bottom: 100%;

				content: "";
			}

			.statistic-number {
				position: absolute;

				margin: 0;
				top: 50%;
				transform: translateY(-46%);
				width: 100%;

				font-size: 3em;
				line-height: 100%;
				text-align: center;
			}
		}
	}
}
