//Colors
$color-background: #ebecee;
$color-black: #000000;
$color-blue: #002f52;
$color-blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
$color-gray: #474646;
$color-gray-light: #858585;
$color-orange: #eb9b00;
$color-red: #d94937;
$color-white: #ffffff;

//Fonts
$font-josefin: "Josefin Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
