//Fonts
$font-comic-sans: Comic Sans MS;
$font-roboto: "Roboto", cursive;

//Colors
$color-black: #000000;
$color-blue-1: #21a09d;
$color-blue-2: #06182d;
$color-orange-1: #c5965f;
$color-orange-2: #cca16a;
$color-purple-1: #3b1045;
$color-purple-2: #410c38;
$color-purple-3: #491033;
$color-purple-4: #40112d;
$color-red-1: #d84736;
$color-red-2: #e64a3e;
$color-red-3: #c1382e;
$color-red-4: #c03527;
$color-red-5: #af342c;
$color-red-6: #af342c;
$color-white: #ffffff;

//Box Shadows
$backpack-shadow: inset 0 6px 0 2px $color-red-2, 0 -93px 0 -77px $color-purple-1, 0 -93px 0 -72px $color-red-1,
	0 -93px 0 -68px $color-purple-1;
$backpack-shadow-before: 0 4px 0 0 $color-red-3, inset 0 4px 1px 0 $color-red-4;

//Gradients
$backpack-gradient: linear-gradient(
	to right,
	transparent 5px,
	transparent 20px,
	transparent 1px,
	transparent 25px,
	transparent 5px,
	transparent 20px,
	transparent 20px,
	transparent 86px,
	$color-red-3 45px,
	$color-red-3 230px,
	transparent 25px,
	transparent 172px
);
$backpack-gradient-before: radial-gradient(
		circle closest-corner at 13px 29px,
		$color-red-5,
		$color-red-5 2px,
		transparent 2px,
		transparent
	),
	radial-gradient(circle closest-corner at 13px 29px, #491033, #491033 4px, transparent 4px, transparent),
	linear-gradient(
		to bottom,
		transparent 10px,
		transparent 15px,
		$color-purple-3 5px,
		$color-purple-3 18px,
		transparent 18px,
		transparent 100px
	),
	linear-gradient(
		to right,
		$color-red-6 10px,
		$color-red-6 10px,
		transparent 10px,
		transparent 16px,
		$color-red-6 9px,
		$color-red-6 50px
	),
	linear-gradient(
		to bottom,
		$color-red-6 8px,
		$color-red-6 16px,
		$color-purple-3 8px,
		$color-purple-3 30px,
		$color-red-6 20px,
		$color-red-6 72px,
		$color-red-6 10px,
		$color-red-6 57px,
		$color-red-6 5%
	);
$body-gradient: radial-gradient(farthest-corner at right top, $color-blue-1, $color-blue-2);
