@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

:root {
	--black: #000000;
	--blue: #23538a;
	--blue-light: #a7cfdf;
	--gray: #aaaaaa;
	--gray-light: #cccccc;
	--gray-lighter: #eeeeee;
	--gray-dark: #666666;
	--light: #e5ff00;
	--red: #e93d50;
	--red-dark: #af303f;
	--white: #ffffff;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	background: linear-gradient(45deg, var(--blue-light) 0%, var(--blue) 100%);
	min-height: 100vh;

	font-family: "Montserrat", sans-serif;
}

h1 {
	margin-bottom: 20px;

	color: var(--white);
	font-size: 2rem;
}

.keyboard {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);

	background: linear-gradient(to bottom, var(--gray-lighter) 0%, var(--gray-light) 100%);
	border-radius: 30px;
	box-shadow: 6px 8px 0 6px var(--gray-dark), 10px 10px 10px var(--black);
	padding: 10px;
}

.key {
	background-color: var(--white);
	border-radius: 30px;
	box-shadow: 3px 3px 0 var(--gray);
	cursor: pointer;
	height: 120px;
	width: 120px;

	color: var(--red);
	font-family: "Montserrat", sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 120px;
	text-align: center;
}

.key:hover {
	background-color: var(--red);
	color: var(--white);
}

.key.active,
.key:active {
	background-color: var(--red);
	border: 4px solid var(--red);
	box-shadow: 3px 3px 0 var(--red-dark) inset;
	outline: none;

	color: var(--white);
}

.key.focus,
.key:focus {
	outline: none;
	box-shadow: 1px 1px 10px var(--light);
}

.key.active:focus,
.key:active:focus {
	box-shadow: 3px 3px 0 var(--red-dark) inset, 1px 1px 10px var(--light);
}
