//Fonts
$font-montserrat: "Montserrat", sans-serif;

//Colors
$black: #000000;
$blue: #23538a;
$blue-light: #a7cfdf;
$gray: #aaaaaa;
$gray-light: #cccccc;
$gray-lighter: #eeeeee;
$gray-dark: #666666;
$light: #6366f1;
$red: #e93d50;
$red-dark: #af303f;
$white: #ffffff;

//Font Sizes
$size-text: 1.75rem;
$size-title: 2rem;
