.footer {
	display: flex;
	justify-content: space-around;
	background-color: var(--black);
	color: var(--white);
	padding: 3em 0;
}

.social-media__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.footer__list li {
	margin: 1em 0;
}

.footer__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: var(--white);
}

.footer__logo {
	margin-top: 0.6em;
	font-size: 28px;
	line-height: 36px;
}

.footer__logo--black {
	font-weight: 700;
}

@media screen and (max-width: 798px) {
	.footer {
		display: block;
		padding: 1em;
	}

	.social-media__list {
		display: block;
	}
}
