//Colors
$bg-color: #ffffff;
$button-color: #326589;
$text-author-color: #858585;
$text-button-hover: #cecdcd;
$text-description-color: #fc6621;
$text-price-color: #002f52;
$text-tag-color: #9c9c9c;
$text-title-color: #fc6621;
$text-white-color: #ffffff;

//Fonts
$font-poppins: "Poppins", sans-serif;
